html, body{
    min-height: 100%;
    background: linear-gradient(0deg, rgb(240 240 232) 0%, rgb(245 254 255) 100%);
}

#content{
    height: 100%;
    width: 100%;
    
}

#content td{
    vertical-align: middle;
    text-align: center;
}

#logo{
    width: 384px;
    height: 384px;
    background-image: url('./logo/GSS.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 42px;
    margin-top: 32px;
}

#mG61Hd > div.RH5hzf.RLS9Fe > div.xpWfed{
    display: none;
}